html, body { position:relative; height: 100%; margin: 0; padding: 0; }
#map { height: 100%; }
.container {height: 100%;
    width: 100%;}


.container{
    display: block;
    position: absolute;
    top: 10em;
    left: 40%;
    width: 100em;
    height: 40%;
    background-color:white;
    overflow-y: scroll;
    overflow-x: hidden;
}


/*  taken from form site*/
form {
    width:500px;
    margin:50px auto;
}
.search {
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
}
