html, body { position:relative; height: 100%; margin: 0; padding: 0; }
#map { height: 100%; }
.container {height: 100%;
width: 100%;}

@media only screen and (min-device-width:320px) and (max-device-width: 480px){
    .overlay{
        display: block;
        position: absolute;
        right:0 !important;
        width: 10% !important;
        height: 100% !important;
        background-color:white;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .overlay:focus, .overlay:hover {
        display: block;
        position: absolute;
        right:0 !important;
        width: 50% !important;
        height: 100% !important;
        background-color:white;
        overflow-y: scroll;
        overflow-x: hidden;
        opacity: 20;
    }
}

#container {
    position: absolute;

    top: 0;
    right: 5%;
    width: 20%;
    height: 90%;
    z-index: 10;
    background-color:white;
    overflow-y: scroll;
    overflow-x: hidden;
}





/*  taken from form site*/
form {
    width:500px;
    margin:50px auto;
}
.search {
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
}
